Repository todi-mih/website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test slides acs_cc, test slides fils_en, test website, pages

test slides acs_cc:
  stage: test
  script:
  - cd slides
  - npx -y playwright@^1.41.2 install chromium
  - npx playwright install-deps
  - npm ci
  - chmod a+x build.sh
  - SLIDES_OUTPUT_FOLDER=../website/static/slides ./build.sh acs_cc
  artifacts:
    paths:
    - website/static/slides/acs_cc/**/*
    expire_in: 60 mins
  needs:
  ...

test slides fils_en:
  stage: test
  script:
  - cd slides
  - npx -y playwright@^1.41.2 install chromium
  - npx playwright install-deps
  - npm ci
  - SLIDES_OUTPUT_FOLDER=../website/static/slides ./build.sh fils_en
  artifacts:
    paths:
    - website/static/slides/fils_en/**/*
    expire_in: 60 mins
  needs:
  - test fake slides

test website:
  stage: test
  script:
  - cd website
  - npm ci
  - npm run build
  needs:
  - job: test fake slides
  - job: test slides acs_cc
    optional: true
  - job: test slides fils_en
    optional: true

pages:
  stage: deploy
  script:
  - ./build.sh
  - mv website/build public
  artifacts:
    paths:
    - public
    expire_in: 60 mins

Rename FILS slides PDF files
  .gitlab-ci.yml
  slides/lectures/fils_en/03/slides.md
  slides/lectures/fils_en/04/slides.md
  slides/lectures/fils_en/05/slides.md
  slides/lectures/fils_en/06/slides.md
  slides/lectures/fils_en/07/slides.md
Due: test slides fils_en, pages

added warning
  website/lab/02/index.mdx
Due: test website, pages

Update instructions for rustup installation on Windows
  website/tutorial/embassy/index.md
Due: test website, pages

Update deprecated command According to the `probe-rs` documentation, the command for installation has changed. https://probe.rs/docs/getting-started/installation/#installation
  website/tutorial/embassy/index.md
Due: test website, pages

[Issue #16] Add project description and rules
  website/versioned_docs/version-acs_cc/project/index.md
  website/versioned_docs/version-fils_en/project/index.md
Due: test website, pages

Fix formatting
  website/lab/02/index.mdx
Due: test website, pages

Lab03 - PWM and ADC
  website/lab/03/images/board_photoresistor.png
  website/lab/03/images/board_rgb.png
  website/lab/03/images/board_servo.png
  website/lab/03/images/common_anode_common_cathode.png
  website/lab/03/images/pwm_rp2040_pins.png
  website/lab/03/images/servo_motor.png
  website/lab/03/images/servo_wires.png
  website/lab/03/index.md
  website/lab/03/index.mdx
Due: test website, pages

Lab03 RP2350 core type fix
  website/lab/03/index.mdx
Due: test website, pages

Random fixes & typos
  website/lab/00.md
  website/versioned_docs/version-acs_cc/welcome/index.md
  website/versioned_docs/version-fils_en/welcome/index.md
Due: test website, pages

Added reminder LED and button wiring.
  website/lab/03/index.mdx
Due: test website, pages

Added warning for LED wiring.
  website/lab/02/index.mdx
Due: test website, pages

Code corrections
  slides/lectures/resources/rust-embedded/slides.md
Due: test slides acs_cc, test slides fils_en, pages

Fix pdf export in lecture 03 slide 18
  slides/lectures/resources/timers/slides.md
Due: test slides acs_cc, test slides fils_en, pages

Update slides for Asynchronous Development
  slides/lectures/fils_en/04/slides.md
  slides/lectures/fils_en/05/slides.md
  slides/lectures/fils_en/06/slides.md
  slides/lectures/fils_en/07/slides.md
  slides/lectures/resources/communication/slides.md
  slides/lectures/resources/concurrency/slides.md
  slides/lectures/resources/executor/slides.md
  slides/lectures/resources/future/slides.md
Due: test slides acs_cc, test slides fils_en, pages

Fixed state error
  website/lab/03/index.mdx
Due: test website, pages

List slides 04.
  website/versioned_docs/version-fils_en/lecture/04.md
Due: test website, pages

Lab04 async
  website/lab/04/images/board_buzzer.png
  website/lab/04/images/buzzer.png
  website/lab/04/images/potentiometer_pins.png
  website/lab/04/index.md
Due: test website, pages

Add lecture 05 - UART & SPI
  slides/lectures/fils_en/05/slides.md
  slides/lectures/resources/dma/slides.md
  slides/lectures/resources/sensors/slides.md
  slides/lectures/resources/spi/slides.md
  slides/lectures/resources/uart/slides.md
  website/versioned_docs/version-fils_en/lecture/05.md
Due: test slides acs_cc, test slides fils_en, test website, pages

Clarifying the text of the lab exercises.
  website/lab/04/index.md
Due: test website, pages

Fix mistake about DDRx bit significance
  slides/lectures/resources/gpio_avr/slides.md
Due: test slides acs_cc, test slides fils_en, pages

Fix slide render lecture 04
  slides/lectures/resources/concurrency/slides.md
Due: test slides acs_cc, test slides fils_en, pages

Lab05 SPI
  website/lab/05/images/bmp280_memory_map.png
  website/lab/05/images/bmp280_wiring.png
  website/lab/05/images/buzzer.png
  website/lab/05/images/mpu6500_wiring.png
  website/lab/05/images/pico-2-r4-pinout.png
  website/lab/05/images/pico_pinout.png
  website/lab/05/images/screen_wiring.png
  website/lab/05/images/spi_read_write_bmp280.png
  website/lab/05/images/spi_read_write_mpu6500.png
  website/lab/05/index.md
  website/lab/05/index.mdx
Due: test website, pages

Lab06 I2C
  website/lab/06/images/J10_Breakout.png
  website/lab/06/images/bmp280_memory_map.png
  website/lab/06/index.md
  website/lab/06/index.mdx
Due: test website, pages

Fixed BMP280 temperature registers.
  website/lab/06/index.mdx
Due: test website, pages

Lab06 fix
  website/lab/06/index.mdx
Due: test website, pages

Lab07 WiFi
  website/lab/07/images/Wi-Fi.gif
  website/lab/07/images/ip_address.json
  website/lab/07/images/ip_address.png
  website/lab/07/images/ip_address_bits.json
  website/lab/07/images/ip_address_bits.png
  website/lab/07/images/osi_stack.svg
  website/lab/07/images/packet.svg
  website/lab/07/images/pico2w.png
  website/lab/07/images/properties.png
  website/lab/07/index.mdx
  website/lab/08/additional.md_
  website/lab/08/images/IRQrp2040.png
  website/lab/08/images/M0regs.png
  website/lab/08/images/VectorTable_ARM_CortexM0.png
  website/lab/08/images/cyw43.png
  website/lab/08/images/embassy_irq.png
  website/lab/08/images/embedded-hal-embassy.svg
  website/lab/08/images/flash_address.svg
  website/lab/08/images/interrupt_ll_edge_high.png
  website/lab/08/images/pico_explorer_pinout.png
  website/lab/08/images/rpsubsystem.png
  website/lab/08/images/stack_frame.png
  website/lab/08/images/systick_regs.png
  website/lab/08/index.md
Due: test website, pages

Lecture 07 - Networking & WiFi
  slides/lectures/fils_en/07/setup/mermaid.ts
  slides/lectures/fils_en/07/slides.md
  slides/lectures/fils_en/08/setup/mermaid.ts
  slides/lectures/fils_en/08/slides.md
  slides/lectures/resources/exceptions/slides.md
  website/versioned_docs/version-fils_en/lecture/07.md
  website/versioned_docs/version-fils_en/lecture/08.md
Due: test slides acs_cc, test slides fils_en, test website, pages

Publish slides 07
  website/versioned_docs/version-fils_en/lecture/07.md
  website/versioned_docs/version-fils_en/lecture/08.md
Due: test website, pages

Add project description template and MR template
  .gitlab/merge_request_templates/project.md
  website/versioned_docs/version-acs_cc/project/2025/template.md
  website/versioned_docs/version-fils_en/project/2025/template.md
Due: test website, pages

Updated project building tutorial
  build_website.sh
  website/static/img/MR_template.webp
  website/versioned_docs/version-acs_cc/project/index.md
  website/versioned_docs/version-fils_en/project/index.md
Due: test website, pages

Add checkbox for adding the link to the github classroom
  .gitlab/merge_request_templates/project.md
  website/versioned_docs/version-acs_cc/project/2025/_category_.json
  website/versioned_docs/version-fils_en/project/2024/_category_.json
  website/versioned_docs/version-fils_en/project/2025/_category_.json
Due: test website, pages

addition to steps for creating the website
  website/versioned_docs/version-fils_en/project/index.md
Due: test website, pages

Corrected a typo on line 112. "will delayed until" => "will be delayed until"
  website/lab/04/index.md
Due: test website, pages

Project/luana.militaru
  website/versioned_docs/version-fils_en/project/2025/luana.militaru/KiCad.webp
  website/versioned_docs/version-fils_en/project/2025/luana.militaru/Schematics.webp
  website/versioned_docs/version-fils_en/project/2025/luana.militaru/TinkerCad.webp
  website/versioned_docs/version-fils_en/project/2025/luana.militaru/hardware1.webp
  website/versioned_docs/version-fils_en/project/2025/luana.militaru/hardware2.webp
  website/versioned_docs/version-fils_en/project/2025/luana.militaru/index.md
  website/versioned_docs/version-fils_en/project/2025/luana.militaru/software1.webp
Due: test website, pages

Project/npopa
  website/versioned_docs/version-acs_cc/project/2025/npopa/cratedigger_diagram.webp
  website/versioned_docs/version-acs_cc/project/2025/npopa/index.md
Due: test website, pages

project/razvan.costea2205
  website/versioned_docs/version-acs_cc/project/2025/razvan.costea2205/architecture.svg
  website/versioned_docs/version-acs_cc/project/2025/razvan.costea2205/index.md
  website/versioned_docs/version-acs_cc/project/2025/razvan.costea2205/schematic.svg
Due: test website, pages

project/petru.nania
  website/versioned_docs/version-acs_cc/project/2025/petru.nania/assets/rusty-musician-arch.svg
  website/versioned_docs/version-acs_cc/project/2025/petru.nania/assets/rusty-musician-schem.svg
  website/versioned_docs/version-acs_cc/project/2025/petru.nania/index.md
Due: test website, pages

Path conditions:
  test slides acs_cc: any of: slides/lectures/acs_cc/**/*, slides/lectures/resources/**/*, slides/lectures/assets/**/*, slides/build.sh, slides/package*.json
  test slides fils_en: any of: slides/lectures/fils_en/**/*, slides/lectures/resources/**/*, slides/lectures/assets/**/*, slides/build.sh, slides/package*.json
  test website: any of: website/**/*, website/*
  pages: any of: build.sh, slides/**/*, slides/*, website/**/*, website/*
