Repository todi-mih/website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test slides acs_cc, test slides fils_en, test website, pages

.gitlab-ci.yml:

image: node:22-bullseye

stages:
  - test
  - deploy

cache:
  key: modules
  paths:
    - website/node_modules/
    - slides/node_modules/

test fake slides:
  stage: test
  script:
    - cd slides
    - SLIDES_OUTPUT_FOLDER=../website/static/slides FAKE_SLIDES=pm_cc ./build.sh acs_cc 
    - SLIDES_OUTPUT_FOLDER=../website/static/slides FAKE_SLIDES=ma ./build.sh fils_en 
  artifacts:
    paths:
      - website/static/slides/acs_cc/**/*
      - website/static/slides/fils_en/**/*
    expire_in: 60 mins
  rules:
    - if: $CI_COMMIT_REF_NAME != $CI_DEFAULT_BRANCH

test slides acs_cc:
  stage: test
  script:
    - cd slides
    - npx -y playwright@^1.41.2 install chromium
    - npx playwright install-deps
    - npm ci
    - chmod a+x build.sh
    - SLIDES_OUTPUT_FOLDER=../website/static/slides ./build.sh acs_cc 
  artifacts:
    paths:
      - website/static/slides/acs_cc/**/*
    expire_in: 60 mins
  needs: ["test fake slides"]
  rules:
    - if: $CI_COMMIT_REF_NAME != $CI_DEFAULT_BRANCH
      changes:
        - slides/lectures/acs_cc/**/*
        - slides/lectures/resources/**/*
        - slides/lectures/assets/**/*
        - slides/build.sh
        - slides/package*.json

test slides fils_en:
  stage: test
  script:
    - cd slides
    - npx -y playwright@^1.41.2 install chromium
    - npx playwright install-deps
    - npm ci
    - SLIDES_OUTPUT_FOLDER=../website/static/slides ./build.sh fils_en 
  artifacts:
    paths:
      - website/static/slides/fils_en/**/*
    expire_in: 60 mins
  needs: ["test fake slides"]
  rules:
    - if: $CI_COMMIT_REF_NAME != $CI_DEFAULT_BRANCH
      changes:
        - slides/lectures/fils_en/**/*
        - slides/lectures/resources/**/*
        - slides/lectures/assets/**/*
        - slides/build.sh
        - slides/package*.json

test website:
  stage: test
  script:
    - cd website
    - npm ci
    - npm run build
  rules:
    - if: $CI_COMMIT_REF_NAME != $CI_DEFAULT_BRANCH
      changes:
        - website/**/*
        - website/*
  needs:
    - job: test fake slides
    - job: test slides acs_cc
      optional: true
    - job: test slides fils_en
      optional: true

pages:
  stage: deploy
  script:
    - ./build.sh
    - mv website/build public
  artifacts:
    paths:
      - public
    expire_in: 60 mins
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
      changes:
        - build.sh
        - slides/**/*
        - slides/*
        - website/**/*
        - website/*

move website to main github repository
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/deploy.yml
  .github/workflows/test-deploy.yml
  gitlab-deploy.ci
  website/docusaurus.config.ts
Due: test website, pages

add labels
  .github/labeler.yml
Due: none

fix pages
  .github/workflows/test-deploy.yml
  gitlab-deploy.yml
Due: none

Create pages.yml
  .github/workflows/pages.yml
Due: none

Update pages.yml
  .github/workflows/pages.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Create project.md
  .github/PULL_REQUEST_TEMPLAT/project.md
Due: none

Rename project.md to project.md
  .github/PULL_REQUEST_TEMPLATE/project.md
Due: none

Create config.yml
  .github/PULL_REQUEST_TEMPLATE/config.yml
Due: none

Rename .github/PULL_REQUEST_TEMPLATE.md to .github/PULL_REQUEST_TEMPLATE/default.md
  .github/PULL_REQUEST_TEMPLATE/default.md
Due: none

Update config.yml
  .github/PULL_REQUEST_TEMPLATE/config.yml
Due: none

Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

lecture 08 (#3)
  slides/lectures/fils_en/08/pi5.jpg
  slides/lectures/fils_en/08/pico2w.png
  slides/lectures/fils_en/08/slides.md
  slides/lectures/fils_en/09/pico.jpg
  slides/lectures/fils_en/09/setup/mermaid.ts
  slides/lectures/fils_en/09/slides.md
  slides/lectures/resources/mmu/slides.md
  slides/lectures/resources/mpu/mpu.svg
  slides/lectures/resources/mpu/slides.md
  slides/lectures/resources/mpu_rp2040/layout.svg
  slides/lectures/resources/mpu_rp2040/mpu.svg
  slides/lectures/resources/mpu_rp2040/mpu_regions.svg
  slides/lectures/resources/mpu_rp2040/mpu_rp2040.svg
  slides/lectures/resources/mpu_rp2040/regions_and_subregions.svg
  slides/lectures/resources/mpu_rp2040/slides.md
  slides/lectures/resources/mpu_rp2040/subregions.svg
  slides/lectures/resources/mpu_rp2350/mpu.svg
  slides/lectures/resources/mpu_rp2350/mpu_regions.svg
  slides/lectures/resources/mpu_rp2350/mpu_rp2350.svg
  slides/lectures/resources/mpu_rp2350/slides.md
  website/versioned_docs/version-fils_en/lecture/08.md
  website/versioned_docs/version-fils_en/lecture/09.md
Due: test slides acs_cc, test slides fils_en, test website, pages

renamed to my actual name (#5)
  website/versioned_docs/version-fils_en/project/2025/fatemehsadat/Schematic.webp
  website/versioned_docs/version-fils_en/project/2025/fatemehsadat/index.md
Due: test website, pages

hussein.mokhadder project (#12)
  website/versioned_docs/version-fils_en/project/2025/mokhadder.hussein/Architecture.svg
  website/versioned_docs/version-fils_en/project/2025/mokhadder.hussein/Hardware design.svg
  website/versioned_docs/version-fils_en/project/2025/mokhadder.hussein/index.md
  website/versioned_docs/version-fils_en/project/2025/mokhadder.hussein/projectphoto1.svg
  website/versioned_docs/version-fils_en/project/2025/mokhadder.hussein/projectphoto2.svg
  website/versioned_docs/version-fils_en/project/2025/mokhadder.hussein/projectphoto3.svg
Due: test website, pages

added photos
  website/versioned_docs/version-acs_cc/project/2025/tmihallari/index.md
  website/versioned_docs/version-acs_cc/project/2025/tmihallari/pic1.webp
  website/versioned_docs/version-acs_cc/project/2025/tmihallari/pic2.webp
Due: test website, pages

changed format to svg
  website/versioned_docs/version-acs_cc/project/2025/tmihallari/index.md
  website/versioned_docs/version-acs_cc/project/2025/tmihallari/no1.svg
  website/versioned_docs/version-acs_cc/project/2025/tmihallari/no1.webp
  website/versioned_docs/version-acs_cc/project/2025/tmihallari/no2.svg
  website/versioned_docs/version-acs_cc/project/2025/tmihallari/no2.webp
Due: test website, pages

Added software and links
  website/versioned_docs/version-acs_cc/project/2025/tmihallari/index.md
Due: test website, pages

added name
  website/versioned_docs/version-acs_cc/project/2025/tmihallari/index.md
Due: test website, pages
